<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/img/minilogo.png}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bitácora KD Offsite</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css}">
    <link rel="shortcut icon" th:href="@{/img/kdimg/icono.png}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <style>
        .navbar-brand img {
            max-height: 48px;
            width: auto;
        }

        .card.module:hover {
            transform: translateY(-4px);
            transition: transform .15s ease;
        }

        body {
            background-color: #292929;
            font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        }
    </style>

<body>


</body>

</html>